body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
}

h1 {
    font-weight: bold;
    color: #333;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

#typeText {
    color: #007bff;
}